.post-animation {
  transition: 0.2s;
  animation: ease;

  &:hover {
    transform: translate3d(0, -1px, 0);
    box-shadow: $post-tile-hover-shadow;
  }
}

.post-tile {
  @include flex-container;
  @include round-post-tile;
  flex-direction: column;
  justify-content: space-between;
  margin: $post-tile-margin-top $small-padding $post-tile-margin-bottom;
  padding: 20px;
  box-sizing: border-box;
  @include mobile {
    margin: $post-tile-margin-top 0;
  }
  @extend .post-animation;
}

.post-title {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: $general-letter-spacing;
  margin-top: 0;
}

.search-result-tile {
  margin: $content-padding 0;
}

.post-tile-content {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  padding: $small-padding;
  height: 100%;
}

.post-info {
  @include flex-container;
  flex-direction: column;
}

.post-description {
  font-weight: $font-weight-regular;
  font-size: 1.2em;
  letter-spacing: $general-letter-spacing;
}

.small-author-image {
  width: $medium-author-image-size;
  height: auto;
  border-radius: 50%;
  margin-right: $very-small-padding;
}

.tile-author {
  @include flex-container;
  margin-top: $content-padding;
  align-items: center;
}

.author-name {
  font-weight: bold;
}

.small-post-image {
  width: 360px;
  height: 232px;
  border-radius: 8px;
}
