.big-post-tile-container {
  @include flex-container;
  justify-content: center;

  .big-post-tile {
    @include round-post-tile;
    display: flex;
    justify-content: center;
  }

  .highlight-image {
    width: 590px;
    height: 361px;
    object-fit: cover;
  }

  .new-post-label {
    color: $color-highlight-green;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 0;
  }
}

.big-post-tile-content {
  @include flex-container;
  width: 610px;
  flex-direction: column;
  justify-content: flex-start;
  padding: $small-padding;
  @include tablet {
    padding: $content-padding;
  }


  .post-title {
    font-weight: $font-weight-semibold;
    font-size: 32px;
    letter-spacing: $general-letter-spacing;
    margin-top: 0;
  }
}
