.read-more {
  display: flex;
  justify-content: space-between;
  width: 119px;
  border-bottom: 2px solid $color-primary;
  padding-bottom: 7px;

  span {
    color: $color-primary;
    font-weight: $font-weight-semibold;
    font-size: 16px;
  }
}
