nav {
  @import "header-toggle";
  @import "header-links";
  @import "header-brand";
  @import "header-feed-subscribe";
  @import "header-dropdown";

  div {
    line-height: 1;
  }

  position: sticky;
  top: 0;
  height: $navbar-height-mobile;
  z-index: $header-z-index;
  background-color: $color-white;
  border-bottom: 1px solid #ccc;

  @include mobile {
    padding: 0 20px;
  }

  @include tablet-and-desktop {
    height: $navbar-height-desktop;
  }

  .header {
    @include flex-container;
    align-items: center;
    height: $navbar-height-mobile;
    @include tablet-and-desktop {
      height: $navbar-height-desktop;
    }
    justify-content: space-between;
    width: 100%;

    @include tablet {
      padding: 0 20px;
    }
  }

  .container {
    @include content-container;
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
      padding: 0 3px;
    }
  }

  .dropdown {
    overflow: hidden;
    &:hover .header-dropdown {
      display: block;
    }
  }

  .fa-bars, .fa-xmark {
    font-size: 24px;
  }

  .hidden {
    display: none;
  }
}
