<footer>
    <div class="container">
        <div class="footer-item company">
            <div class="label">
                <img src="/assets/img/kouncil-logo.png"/>
            </div>
        </div>
        <div class="footer-item">
            <div class="item-content">
                <p>Contact</p>
                <p>kouncil@consdata.com</p>
                <p>+48 61 41 51 000</p>
            </div>
        </div>
        <div class="footer-item">
            <div class="item-content">
                <p>Office</p>
                <p>K9Office, Krysiewicza 9/17</p>
                <p>61-825 Poznań, Poland</p>
            </div>
        </div>
        <div class="footer-item">
            <div class="item-content">
                <p>Features</p>
                <p>Apache Kafka Monitoring</p>
                <p>Explore Data</p>
                <p>Enterprise Edition</p>
            </div>
        </div>
        <div class="footer-item links">
            <div class="item-content">
                <p>Blog</p>
                <p>Documentation</p>
                <p>Demo</p>
                <p>Pricing</p>
            </div>
        </div>
        <div class="footer-item social-buttons">
            <div class="label">
                {{ site.data.translations['stayInTouch'][page.lang] }}
            </div>
            <div class="item-content">
                <div class="social-buttons-container">
                    <div class="social-button-wrapper">
                        <a class="social-btn" target="_blank" href="https://www.facebook.com/consdatacom"
                           title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <div class="social-button-wrapper">
                        <a class="social-btn" target="_blank"
                           href="https://www.youtube.com/channel/UCv4d_uCiLdDkOFk8NtDsU_w" title="Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                    <div class="social-button-wrapper">
                        <a class="social-btn" target="_blank" href="https://www.linkedin.com/company/1456906"
                           title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyrights © {{ 'now' | date: "%Y" }} Kouncil. All rights reserved.
    </div>
</footer>
