<div class="copyright-container desktop">
    <div class="copyright">
        <div class="copyright-text">
            <span>Copyright © {{ 'now' | date: "%Y" }} Kouncil. All rights reserved.</span>
            <div class="copyright-links">
                <span class="separator">|</span>
                <a>Privacy Policy</a>
                <span class="separator">|</span>
                <a>Terms of Use</a>
            </div>
        </div>
        <div class="social-buttons">
            <a class="social-btn" target="_blank" href="https://www.facebook.com/consdatacom"
               title="Facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="social-btn" target="_blank" href="https://www.linkedin.com/company/1456906"
               title="Linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="social-btn" target="_blank"
               href="https://www.youtube.com/channel/UCv4d_uCiLdDkOFk8NtDsU_w" title="Youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</div>
