<div class="header-dropdown desktop">
    <div class="header-dropdown-content">
        <a href="https://kouncil.io/explore-data/">
            <div class="header-dropdown-section">
                <div class="header-dropdown-icon-container">
                    <img src="/assets/img/data.svg" alt="database"/>
                </div>
                <div class="header-section-title-container">
                    <span class="header-section-title">Explore Data</span>
                    <img src="/assets/img/arrow-right.svg" alt="arrow"/>
                </div>
                <div class="header-section-text">
                    View real-time data, receive actionable alerts, and collect granular metrics to detect anomalies
                </div>
            </div>
        </a>
        <a href="https://kouncil.io/apache-kafka-monitoring/">
            <div class="header-dropdown-section">
                <div class="header-dropdown-icon-container">
                    <img src="/assets/img/monitoring.svg" alt="database"/>
                </div>
                <div class="header-section-title-container">
                    <span class="header-section-title">Apache Kafka Monitoring</span>
                    <img src="/assets/img/arrow-right.svg" alt="arrow"/>
                </div>
                <div class="header-section-text">
                    View real-time data, receive actionable alerts, and collect granular metrics to detect anomalies
                </div>
            </div>
        </a>
        <a href="https://kouncil.io/protect-data/">
            <div class="header-dropdown-section">
                <div class="header-dropdown-icon-container">
                    <img src="/assets/img/shield.svg" alt="database"/>
                </div>
                <div class="header-section-title-container">
                    <span class="header-section-title">Protect Data</span>
                    <img src="/assets/img/arrow-right.svg" alt="arrow"/>
                </div>
                <div class="header-section-text">
                    View real-time data, receive actionable alerts, and collect granular metrics to detect anomalies
                </div>
            </div>
        </a>
    </div>
</div>
