{% assign posts = site.posts | where:"lang", site.active_lang %}
<div class="sidebar-container">
    <div class="sidebar-title">
        {{ site.data.translations['newestPosts'][site.active_lang] }}
    </div>
    <div class="sidebar-latest-posts-container">
        {%- for post in posts limit:3 -%}
        <div class="sidebar-post">
            <a href="{{ post.url }}" lang="{{ site.active_lang }}">
                <span class="sidebar-post-title">
                    {{ post.title | escape }}
                </span>
                <span class="sidebar-post-content">
                    {{  post.description }}
                </span>
                {% include read-more.html post=post %}
            </a>
        </div>
        {%- endfor -%}
    </div>
</div>
