@mixin tablet-and-desktop() {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $tablet-breakpoint - 1px) {
    @content;
  }
}

@mixin content-container() {
  max-width: $mobile-content-width;

  @include desktop {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@mixin flex-container() {
  display: flex;
  min-width: 1px;
}

@mixin job-offer-text($font-color) {
  color: $font-color;
  font-size: 1.2em;
}

@mixin round-post-tile() {
  border-radius: 12px;
}

@mixin primary-button() {
  @include flex-container;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  color: $color-white;

  &:focus {
    background-color: #85B93D;
  }

  &:active {
    background-color: #9CD00F;
  }

  &:disabled {
    opacity: 0.25;
  }
}
