footer {
  * {
    font-family: "Inter", Helvetica, Arial, sans-serif;
  }

  background-color: $background-color;
  border-top: 1px solid rgba(97, 63, 195, 0.2);

  .footer-item {
    @include flex-container;
    flex-direction: column;
    letter-spacing: 1px;

    @include mobile {
      margin-bottom: 20px;
    }

    .label {
      @include flex-container;
      color: $color-white;
      font-size: 20px;
      align-items: center;
      height: 30px;

      margin-top: 15px;
      @include tablet-and-desktop {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .item-content {
      color: $color-stormgray;
      font-size: 16px;
      font-weight: 400;

      p {
        font-weight: $font-weight-light;
        &:first-of-type {
          margin-top: 0;
          color: $color-black;
          font-weight: $font-weight-regular;
        }
      }

      @include mobile {
        margin-bottom: 45px;
      }
    }
  }

  .footer-container {
    @include content-container;
    @include flex-container;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 20px 0;

    @include mobile {
      background-color: white;
    }

    @include tablet-and-desktop {
      flex-direction: row;
      padding: 120px 100px;
    }
  }

  @import "footer-company";
  @import "footer-copyright";
  @import "footer-links";
}
