.sidebar {
  position: sticky;
  height: fit-content;
  top: 80px;
  width: 33%;
  @include mobile {
    display: none;
  }
}

.sidebar-container {
  @include flex-container;
  flex-direction: column;
  box-sizing: border-box;
  position: sticky;
  @include tablet-and-desktop {
    margin-left: $double-content-padding;
  }
}

.sidebar-title {
  font-weight: $font-weight-semibold;
  font-size: 32px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  letter-spacing: $general-letter-spacing;
  border-bottom: 1px solid rgba(97, 63, 195, 0.2);
}

.sidebar-post {
  font-size: 14px;
  margin-bottom: $content-padding;

  .read-more {
    margin-bottom: 40px;
  }
}

.sidebar-post-title {
  display: block;
  font-weight: $font-weight-semibold;
  font-size: 20px;
  margin-bottom: 4px;
}

.sidebar-post-content {
  display: block;
  margin-bottom: 20px;
}

.post-post-section-mobile {
  margin-bottom: $content-padding;
  @include desktop {
    display: none;
  }
}
